<!doctype html>
<html ng-app>
	<head>
		<script src="../lib/angular.min.js"></script>
	</head>
	<body>
		<div ng-init="people=[{firstName: 'Michael', lastName: 'Mayer', salary: 3000}, {firstName: 'Christian', lastName: 'Mueller', salary: 4000}, {firstName: 'Florian', lastName: 'Schmidt', salary: 6000}]; limit=10; orderProp='firstName'">
			<table>
				<tr>
					<th>firstName</th>
					<th>lastName</th>
					<th>salary</th>
				</tr>
				<tr ng-repeat="p in people | limitTo:limit | orderBy:orderProp">
					<td>{{ p.firstName }}</td>
					<td>{{ p.lastName }}</td>
					<td>{{ p.salary }}</td>
				</tr>
			</table>
			
			<div>
				Limit to: <input type="number" ng-model="limit">
			</div>
			
			<div>
				Order by:
				<select ng-model="orderProp">
					<option>firstName</option>
					<option>lastName</option>
					<option>salary</option>
				</select>
			</div>		
		</div>
	</body>
</html>
